@media screen and (min-width:320px) and (max-width:1024px){
    .side-nav{
        display: none;
    }

    .side-container {
        /* flex: 3.3; */
        background-color: #FDF9F7;
        height: 100vh;
        width: 100vw;
    }

    .search-box {
        display: flex;
        background: white;
        height: 75px;
        box-shadow: 1px 1px 10px grey;
        justify-content: flex-start;
    }

    .place {
        /* border: none; */
        height: 100%;
        flex: 0.5;
        /* outline: none; */
    }
    .place input {
        padding: 5px;
        font-size: 0.7rem;
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
    }

    .icons {
        display: flex;
        flex: 0.13;
        align-items: center;
        justify-content: space-between;
        margin-right: 5px;
        gap: 10px;
    }

    .icon-9{
        font-size: 13px;
    }

    .icon-10{
        font-size: 13px;
    }

    .icon-11{
        font-size: 13px;
    }

    .times {
        flex: 0.25;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .icon-12{
        font-size: 24px;
    }

    .play {
        flex: 0.12;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .today-view {
        padding: 15px 10px 10px 10px;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        font-weight: 600;
        /* margin-top: 19px; */
    }

    .week{
        font-size: 12px;
    }

    .view-list {
        /* border: 1px solid red; */
        display: flex;
        font-size: 12px;
        gap: 16px;
    }

    .list-view{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .bar{
        display: none;
    }

    .full-line{
        display: block;
        font-size: 12px;
        margin: 20px 10px;
    }
    .blue-pipe{
        color: #4583D9;
        font-weight: 600;
    }
    .michiel-gray{
        color: #D3CBD1;
        font-weight: 600;
    }
    .f-line{
        display: block;
        background-color: #4583D9;
        height: 3px;
        margin: 5px 0px;
        border-radius: 10px;
    }

    .lines{
        display: none;
    }

    .icon-16{
        position: static;
        /* border: 1px solid black; */
        padding: 2px 2px;
        /* right: 40px; */
        /* border-radius: 2px; */
    }
    .s{
        flex-grow: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 25px;
    }
    .wed{
        flex-grow: 0;
    }
    .date-time{
        background-color: white;
        padding: 10px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        font-weight: 800;
        margin-top: 30px;
    }

    .description{
        display: none;
    }

    .description-1{
        display: none;
    }
    .toggle{
        display: block;
        height: 50px;
        background-color: #291436;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    
    .toggle h1{
        color: #cf75cb;
        font-weight: bolder;
        font-family: 'Shantell Sans', cursive;
        padding-left: 10px;
    }
    .t-track{
        font-size: 30px;
        font-weight: 400;
    }
    .list-icon{
        color: white;
        background-color: #6B5C74;
        border-radius: 10%;
        /* padding-right: 10px; */
    }

    .show{
        display: block;
        font-size: 12px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
    }
    .ques{
        color: #D3CBD1;
        font-weight: 600;
        flex-grow: 0.5;
    }
    .dot{
        display: block;
        display: flex;
        align-items: center;
        font-size: 12px;
        background-color: white;
        padding: 5px 5px 10px 10px;
        box-shadow: 0px 2px 3px grey;
    }
    .dot-1{
        background-color: #4583D9;
        height: 7px;
        width: 7px;
        border-radius: 50%;
      
        /* margin: 5px 5px 10px 10px; */
    }
    .p-pipe{
        color: #4583D9;
        margin-left: 3px;
        margin-right: 3px;
    }
    .dot-9{
        background-color: #D3CBD1;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        margin-right: 3px;
    }
    .michiel-m{
        color: #D3CBD1;
        /* margin-left: 3px; */
    }
    .liner-9{
        display: none;
    }
    .plain{
        margin-bottom: 20px;
    }
    .button{
        text-align: center;
         margin-top: 20px;
         /* background-color: white; */
     }
     .btn{
        border: none;
        background-color:#350652;
        color: white;
     }
}